html{
  background: whitesmoke;
}

body {
  margin: 20px;
  background: lightblue;
  max-width: 480px;
  height: 800px;
  border: 3px solid;
  border-radius: 10px;
}

nav {
  background: lightcoral;
}

h1 {
  text-align: center;
}

h3 {
  display: inline;
  margin-left: 10px;
}

ul {
  margin: 5px 0px;
}

input[type=text] {
  width: 230px;
  margin-right: 10px;
  height: fit-content;
}

select {
  margin: 5px 30px;
}

button, input[type=submit], input[type=color] {
  margin-right: 5px;
  font-size: 12px;
  border: 1px solid;
  border-radius: 4px;
  background: white;
  float: right;
  height: 18px;
}

.high-priority {
  font-weight: bold;
  color: darkred;
}

.category {
  margin: 5px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  min-height: 20px;
}