body {
  margin: 0px;
  background: lightblue;
}

header {
  text-align: center;
  font-size: 40px;
  padding: 5px;
}

filter {
  display: flex;
  background: lightcoral;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}